# Node.js (Next.js frontend)
**/node_modules/
**/.next/
**/out/
**/build/

# Python (Django backend)
**/__pycache__/
**/*.py[cod]
**/*.sqlite3

# Env & system files
**/.env*
!.env.example
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
next-env.d.ts

# vercel or deployment config
**/.vercel